<div class="kt-portlet">
	<div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title"><span>Faq List</span></h3>
    </div>
    <div class="kt-portlet__head-toolbar">
      <button routerLink="/demo1/pages/faqadd" mat-raised-button color="yellow">Add Faq</button>
    </div>
  </div>

  <div class="kt-portlet__body pt-0">
    <mat-form-field class="mat-form-field-infix">
     <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
   </mat-form-field>
   
 <div class="table-responsive"> 
    <div class="mat-table__wrapper "> 
     <mat-table #table [dataSource]="dataSource">  
   
  
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>
 
    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef action-box width25> Action </mat-header-cell>
      <mat-cell *matCellDef="let element;let i = index;"  action-box width25> 
       
        <button  routerLink="/demo1/pages/faqedit/{{element?.id}}" mat_primary_color mat-icon-button color="pink" matTooltip="Edit FAQ">
          <i class="fa fa-pencil-alt"></i>
        </button>&nbsp;
        <button 
		mat-icon-button color="danger" matTooltip="Delete" type="button" 
		 (click)="openVerticallyCentered(content,element.id,i + (paginator.pageIndex * paginator.pageSize))" >
         <mat-icon>delete</mat-icon>
       </button> 
     </mat-cell>
   </ng-container>
   <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
   <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
 </mat-table>
</div>
</div>
<mat-paginator #paginator
[pageSize]="10"
[pageSizeOptions]="[5, 10, 20]"
[showFirstLastButtons]="true">
</mat-paginator>
</div>
</div>
<div class="kt-section">
  <div class="kt-section__content">
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-body">
        <button type="button" class="close close-modal" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
        <div  class="modal-inner text-center">
          <i class="flaticon2-close-cross fa-4x close-icon"></i>
          <h4>Are You Sure ?</h4>
          <p class="mb-0">Are you sure you want to delete this records? This process cannot be undone</p>
        </div>
      </div>
      <div class="modal-footer no-border pt-0 justify-content-center pb-4">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
        <button (click)="deletefaq()" type="button" class="btn btn-danger">Delete</button>
      </div>
    </ng-template>
  </div>
</div>