<div class="kt-portlet">
	<div class="kt-portlet__head">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title"><span>Add Beneficiaries</span></h3>
		</div>
		<div class="kt-portlet__head-toolbar">
			<button  routerLink="/demo1/beneficiaries/" mat-raised-button color="yellow">Back To Beneficiaries</button>
		</div>
	</div>
	<div class="kt-portlet__body">
		<div class="row">
			
			
			
			<div class="col-md-8 profile_form">
				<div class="row grp_form" >
					<div class="col-md-12">
						<div class="form-group">
							<label class="frm_label">Name</label>
							<div class="input-group">
								<input type="text" class="form-control" [(ngModel)]="name"
								placeholder="Enter  Title" name="name">
							</div>
							<span error  *ngIf="is_submit==true && errors.indexOf(name)>=0">
							Please enter name</span>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label class="frm_label">Description</label>
							<div class="input-group">
								<textarea type="text" class="form-control" 
								[(ngModel)]="description"  rows="5" placeholder="Enter  Description"
								name="description"></textarea>
							</div>
							<span error  *ngIf="is_submit==true && errors.indexOf(description)>=0">
							Please enter description</span>
						</div>
					</div>
				
					
					<div class="col-md-12 mt-4">
						<button  btn-submit   mat-raised-button color="pink" (click)="editbene();">Submit</button>
					</div>
			</div>


				
			</div>
			<div class="col-md-4">
				<div class=" profile_user">
				<div class="card">
					<div class="card-body text-center">
						<div class="user-image ">
							
								<img *ngIf="is_license_uploaded == false && errors.indexOf(image)>=0"
						src="assets/media/prj4.jpg" class="rounded-circle img-thumbnail">
										
						<img *ngIf="is_license_uploaded == false && errors.indexOf(image)==-1" 
						src="{{IMAGES_URL}}/{{image}}" class="rounded-circle img-thumbnail">

						<img *ngIf="is_license_uploaded == true" 
						[src]="sanitizer.bypassSecurityTrustUrl(license_image_url)"
						class="rounded-circle img-thumbnail">
						
							<label  for="user-img">Upload Image</label>
								<input  id="user-img" style="display:none" type="file"
							(change)="uploadLicense($event)" name="user-img">
						</div>
							<span error  *ngIf="is_submit==true && errors.indexOf(license_image_url)>=0">
							Please upload image</span>	
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>