<div class="kt-portlet">
		<div class="kt-portlet__head">
	     <div class="kt-portlet__head-label">
		    <h3 class="kt-portlet__head-title"><span>Edit User</span></h3>
		 </div>
		 <div class="kt-portlet__head-toolbar">
		  <button  routerLink="/demo1/users/" mat-raised-button color="yellow">Back To Users</button>
		 </div>
	</div>
		<div class="kt-portlet__body">
	        	
	        	
	        	<div class="row">
	        	<div class="col-md-4">
	        	<div class="profile_user">
					<div class="card " >
								<div class="card-body text-center">
									<div class="user-image ">
										<img *ngIf="is_license_uploaded == false && errors.indexOf(image)>=0"   src="assets/media/users/default.jpg" class="rounded-circle img-thumbnail">
										
										<img *ngIf="is_license_uploaded == false && errors.indexOf(image)==-1"   src="{{IMAGES_URL}}/{{image}}" class="rounded-circle img-thumbnail">

										<img *ngIf="is_license_uploaded == true"  [src]="sanitizer.bypassSecurityTrustUrl(license_image_url)"
										class="rounded-circle img-thumbnail">
										
										<label  for="user-img">Upload Picture</label>
										<input  id="user-img" style="display:none" type="file"
											(change)="uploadLicense($event)" name="user-img">
									</div>
								</div>
						</div>
						</div>
				</div>
				<div class="col-md-8 profile_form editusertab">
				 <mat-tab-group mat-align-tabs="start">
					<mat-tab label="Basic Info">
					<div class="row grp_form mt-3 " >
						<div class="col-md-6">
						  <div class="form-group">
							  <label class="frm_label">First Name</label>
							  <div class="input-group">
								  <input type="text" class="form-control" placeholder="" name="first_name" [(ngModel)]="first_name">
							  </div>
							  <span error *ngIf="errors.indexOf(first_name) >= 0 && is_submit == true">Please enter first name</span>
						  </div>
					   </div>	
					<div class="col-md-6">
						  <div class="form-group">
							  <label class="frm_label">Last Name</label>
							  <div class="input-group">
								  <input type="text" class="form-control" placeholder="" name="last_name" [(ngModel)]="last_name">
							  </div>
							  <span error *ngIf="errors.indexOf(last_name) >= 0 && is_submit == true">Please enter last name</span>
						  </div>
					   </div>
<div class="col-md-6">
						<div class="form-group">
							<label class="frm_label">Email Address</label>
							<div class="input-group">
								<input type="text" class="form-control" placeholder="" name="email" [(ngModel)]="email">
							</div>
							<span error *ngIf="errors.indexOf(email) >= 0 && is_submit == true">Please enter email address</span>
							<span error *ngIf="errors.indexOf(email) == -1 && is_submit == true && !reg_exp.test(email.toLowerCase())">Please enter valid email address</span>
					
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="frm_label">Phone No.</label>
							<div class="input-group">
								<input type="text" class="form-control" placeholder="" name="phone" [(ngModel)]="phone">
							</div>
							<span error *ngIf="phone?.length<10 && errors.indexOf(phone) == -1 
									 && is_submit == true ">Phone number must be atleast 10 digit long</span>
						    <span error *ngIf="errors.indexOf(phone) == -1 
									 && is_submit == true && !reg_exp1.test(phone)">
									 Please enter valid phone number</span> 
							<span error *ngIf="errors.indexOf(phone) >= 0 && is_submit == true">Please 
							enter phone number</span>
						</div>
					</div>	
				<div class="col-md-6">
								<div class="form-group">
									<label class="frm_label">Status</label>
									<div class="input-group">
										<select class="form-control" name="status" [(ngModel)]="status">
										<option value=""> - Select - </option>
											<option value="1"> Active </option>
											<option value="0"> Inactive</option>
										</select>
									</div>
									<span error *ngIf="errors.indexOf(phone) >= 0 && is_submit == true">Please select status</span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="frm_label">Type</label>
									<div class="input-group">
										<select class="form-control" name="type" [(ngModel)]="type">
										<option value=""> - Select - </option>
											<option value="1"> Company </option>
											<option value="2"> Individual</option>
										</select>
									</div>
									<span error *ngIf="errors.indexOf(type) >= 0 && is_submit == true">Please select type</span>
								</div>
							</div>
							  
					<div class="col-md-6">
						<div class="form-group">
							<label class="frm_label">Address</label>
							<div class="input-group">
								<input class="form-control" placeholder="" value="" name="address" [(ngModel)]="address">
							</div>
							<span error *ngIf="errors.indexOf(address) >= 0 && is_submit == true">Please enter address</span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="frm_label">Country</label>
							<div class="input-group">
								<select class="form-control"  name="country" [(ngModel)]="country" #device  (change)="onChange($event,device.value)">
									<option value=""> - Select - </option>
									<option *ngFor="let con of countries" value="{{con?.country_id}}">{{con?.country_name}}</option>
								</select>
							</div>
							<span error *ngIf="errors.indexOf(country) >= 0 && is_submit == true">Please select country</span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="frm_label">State</label>
							<div class="input-group">
								<select class="form-control" name="state" [(ngModel)]="state">
								<option  *ngFor="let con of states" value="{{con?.state_id}}">{{con?.state_name}}</option>
								</select>
							</div>
							<span error *ngIf="errors.indexOf(state) >= 0 && is_submit == true">Please select state</span>

							
							
						</div>
					</div>
						
						
					</div>
				<h4 class="mb-4 mt-3 tsrs-sa">Change Password</h4>
				
					<div class="row">	
						<div class="col-md-6">
						<div class="form-group">
							<label class="frm_label">New Password</label>
							<div class="input-group">
								<input class="form-control" type="password" placeholder="" name="password" [(ngModel)]="password">
							</div>
								<span error *ngIf="errors.indexOf(cpassword) ==-1 && errors.indexOf(password) >= 0 && is_submit == true">Please enter password</span>
							
							
						</div>
					</div>	
						<div class="col-md-6">
						<div class="form-group">
							<label class="frm_label">Confirm New Password</label>
							<div class="input-group">
								<input class="form-control"  type="password"  placeholder="" name="cpassword" [(ngModel)]="cpassword">
							</div>
							<span error *ngIf="errors.indexOf(password) ==-1 && 
							errors.indexOf(cpassword) >= 0 && is_submit == true">
							Please enter confirm password</span>
							
							<span error *ngIf="errors.indexOf(password) ==-1 && 
							password!=cpassword && is_submit == true">Confirm password does not match</span>

						</div>
					</div>	
						<div class="col-md-12 mt-3">
						<button  btn-submit   mat-raised-button color="pink" (click)="edituser()" 
						[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
						Save changes</button>
						</div>
					</div>
				</mat-tab>
				   <mat-tab label="Donations">
				  
				   <div class="kt-widget4 widt-tbs mt-3">
				   <p *ngIf="donations?.length==0">No records found</p>
						<div class="kt-widget4__item" *ngFor="let don of donations">
							<div class="kt-widget4__pic kt-widget4__pic--pic">
								<img   *ngIf="errors.indexOf(don?.charityid)==-1" src="{{IMAGES_URL}}/{{don?.image}}"/>
								<img   *ngIf="errors.indexOf(don?.actid)==-1" src="{{IMAGES_URL}}/{{don?.aimage}}"/>
								<img   *ngIf="errors.indexOf(don?.teamid)==-1" src="{{IMAGES_URL}}/{{don?.timage}}"/>
								</div>
								<div class="kt-widget4__info">
								
								
								<a class="kt-widget4__username" 
								*ngIf="errors.indexOf(don?.actid)==-1"  
								routerLink="/activitydetail/{{don?.actid}}">{{don?.atitle}}</a>
								<a class="kt-widget4__username"  
								*ngIf="errors.indexOf(don?.teamid)==-1" 
								routerLink="/teamdetail/{{don?.teamid}}">{{don?.ttitle}}</a>
								<a class="kt-widget4__username" 
								*ngIf="errors.indexOf(don?.charityid)==-1" 
								routerLink="/charitydetail/{{don?.charityid}}">{{don?.title}}</a>
								<p class="kt-widget4__text" *ngIf="errors.indexOf(don?.actid)==-1"><b>${{don?.amount}} </b> given to {{don?.atitle}}</p>
								<p class="kt-widget4__text"*ngIf="errors.indexOf(don?.teamid)==-1"><b>${{don?.amount}} </b> given to {{don?.ttitle}}</p>
								<p class="kt-widget4__text" *ngIf="errors.indexOf(don?.charityid)==-1"><b>${{don?.amount}} </b> given to {{don?.title}}</p>
								<p class="kt-widget4__text" *ngIf="errors.indexOf(don?.charityid)>=0 && errors.indexOf(don?.teamid)>=0 &&
								errors.indexOf(don?.actid)>=0 "><b>${{don?.amount}} </b> given to donation jar</p>

										 		 
							</div>						 
							<span class="time-rigt"> <i class="flaticon2-calendar"></i>{{don?.donated_at | date : 'd MMM yyyy'}} </span>						 
						</div>  
						    </div>  

				   
				   </mat-tab>
				</mat-tab-group>
				
				
				</div>
			</div>
		</div>
</div> 


