<div class="row">

	<div class="col-xl-12 col-lg-12 order-lg-12 order-xl-1">
		<!--begin:: Widgets/New Users-->
<div class="kt-portlet">
	<div class="kt-portlet__head">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">
				Notifications
			</h3>
		</div>
			 <!--div class="kt-portlet__head-toolbar">
		   <button routerLink="/demo1/notifications" mat-raised-button color="yellow">Bulk Notifications</button>
		   <button routerLink="/demo1/notifications" mat-raised-button color="yellow">Single Notifications</button>
		 </div-->
	</div>
	<div class="kt-portlet__body">
		<div class="kt-widget4 widt-tbs">
			<div class="kt-widget4__item">
				<div class="kt-widget4__pic kt-widget4__pic--pic">
					<img src="assets/media/users/100_2.jpg" alt="">   
				</div>
				<div class="kt-widget4__info">
					<a href="#" class="kt-widget4__username">
						Anna Strong
						
					</a>
					
					<p class="kt-widget4__text">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					</p>							 		 
				</div>						 
				<span class="time-rigt"> <i class="flaticon2-crisp-icons-1"></i> 4 hours ago </span>						 
			</div>  

			<div class="kt-widget4__item">
				<div class="kt-widget4__pic kt-widget4__pic--pic">
					<img src="assets/media/users/100_3.jpg" alt="">   
				</div>
				<div class="kt-widget4__info">
					<a href="#" class="kt-widget4__username">
						Denny Christon
					</a>
					<p class="kt-widget4__text">
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
					</p>							 		 
				</div>						 
				<span class="time-rigt"> <i class="flaticon2-crisp-icons-1"></i> 7 hours ago </span>						 
			</div>
			<div class="kt-widget4__item">
				<div class="kt-widget4__pic kt-widget4__pic--pic">
					<img src="assets/media/users/100_4.jpg" alt="">   
				</div>
				<div class="kt-widget4__info">
					<a href="#" class="kt-widget4__username">
						Marry James
					</a>
					<p class="kt-widget4__text">
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
					</p>							 		 
				</div>						 
				<span class="time-rigt"> <i class="flaticon2-crisp-icons-1"></i> 12 hours ago </span>						 
			</div>
			<div class="kt-widget4__item">
				<div class="kt-widget4__pic kt-widget4__pic--pic">
					<img src="assets/media/users/100_5.jpg" alt="">   
				</div>
				<div class="kt-widget4__info">
					<a href="#" class="kt-widget4__username">
						Hanry Cane
					</a>
					<p class="kt-widget4__text">
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
					</p>							 		 
				</div>						 
				<span class="time-rigt"> <i class="flaticon2-crisp-icons-1"></i> 3 days ago </span>						 
			</div>
			<div class="kt-widget4__item">
				<div class="kt-widget4__pic kt-widget4__pic--pic">
					<img src="assets/media/users/100_6.jpg" alt="">   
				</div>
				<div class="kt-widget4__info">
					<a href="#" class="kt-widget4__username">
						Anna James
					</a>
					<p class="kt-widget4__text">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
					</p>							 		 
				</div>						 
				<span class="time-rigt"> <i class="flaticon2-crisp-icons-1"></i> 4 days ago </span>						 
			</div>
			<div class="kt-widget4__item">
				<div class="kt-widget4__pic kt-widget4__pic--pic">
					<img src="assets/media/users/100_7.jpg" alt="">   
				</div>
				<div class="kt-widget4__info">
					<a href="#" class="kt-widget4__username">
						Lilly Mear
					</a>
					<p class="kt-widget4__text">
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
					</p>							 		 
				</div>						 
				<span class="time-rigt"> <i class="flaticon2-crisp-icons-1"></i> 4 hours ago </span>						 
			</div>
<div class="kt-widget4__item">
				<div class="kt-widget4__pic kt-widget4__pic--pic">
					<img src="assets/media/users/100_2.jpg" alt="">   
				</div>
				<div class="kt-widget4__info">
					<a href="#" class="kt-widget4__username">
						Anna Strong 
					</a>
					<p class="kt-widget4__text">
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
					</p>							 		 
				</div>						 
				<span class="time-rigt"> <i class="flaticon2-crisp-icons-1"></i> 1 month ago </span>						 
			</div>			
		</div>  
	</div>
</div>
<!--end:: Widgets/New Users-->	</div>
</div>