<div class="kt-portlet">
	<div class="kt-portlet__head">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title"><span>Edit Activity</span></h3>
		</div>
		<div class="kt-portlet__head-toolbar">
			<button  routerLink="/demo1/activities/" mat-raised-button color="yellow">Back To Activities</button>
		</div>
	</div>
	<div class="kt-portlet__body">
		<div class="row">
			
			
			
			<div class="col-md-8 profile_form">
				<div class="row grp_form" >
					<div class="col-md-12">
						<div class="form-group">
							<label class="frm_label">Title</label>
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Enter  Title" value="Help children in South America">
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label class="frm_label">Description</label>
							<div class="input-group">
								<textarea type="text" class="form-control" rows="5" placeholder="Enter  Description" value="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</textarea>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="frm_label">Target  Amount</label>
							<div class="input-group">
							<input type="text" class="form-control" placeholder="Enter Amount" value="90000000">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="frm_label">Target Meals</label>
							<div class="input-group">
							<input type="text" class="form-control" placeholder="Enter Meals" value="1500000">
							</div>
						</div>
					</div>
					<div class="col-md-12 mt-4">
						<button  btn-submit   mat-raised-button color="pink">Submit</button>
					</div>
			</div>


				
			</div>
			<div class="col-md-4">
				<div class="form-group upload_file ">
							<label  for="user-img"><i class="flaticon-upload"></i><p>Drag or Drop Activity Images</p></label>
							<input  id="user-img" name="user-img" style="display:none" type="file">
						</div>
						<div class="row">
						<div class="col-md-6">
						<div class="activityimg">
						<img src="assets/media/project1.jpg"/>
						<i class="fa fa-times"></i>
						</div>
						</div>
						<div class="col-md-6">
						<div class="activityimg">
						<img src="assets/media/project2.jpeg"/>
						<i class="fa fa-times"></i>
						</div>
						</div>
						</div>
			</div>
		</div>
	</div>
</div>