<div class="kt-portlet">
	<div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title"><span>All Beneficiaries</span></h3>
    </div>
  
  </div>

  <div class="kt-portlet__body pt-0">
 
    <mat-form-field class="mat-form-field-infix">
     <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
   </mat-form-field>
   <div class="table-responsive"> 
    <div class="mat-table__wrapper "> 
     <mat-table #table [dataSource]="dataSource">

       <!--ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef width10>
          <mat-checkbox (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" width10>
        <mat-checkbox (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container-->
  <!-- Image Column -->
	  <ng-container matColumnDef="imageurl" >
      <mat-header-cell *matHeaderCellDef width15 > Image </mat-header-cell>
      <mat-cell *matCellDef="let element"  width15>  
	  <img  class="table-user rounded-circle img-thumbnail" width="60px" height="60px" src="assets/img/no_image.jpg"
	  *ngIf="errors.indexOf(element?.image)>=0"
	  />
	  
	  <img  class="table-user rounded-circle img-thumbnail" width="60px" height="60px" src="{{IMAGES_URL}}/{{element.image}}"
	  *ngIf="errors.indexOf(element?.image)==-1"
	  /> 
	  </mat-cell>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef  > Name </mat-header-cell>
      <mat-cell *matCellDef="let element" > {{element.name}} </mat-cell>
    </ng-container>
    <!--ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef > Description</mat-header-cell>
      <mat-cell *matCellDef="let element" > {{element.description}} </mat-cell>
    </ng-container-->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description </mat-header-cell> 
      <mat-cell *matCellDef="let element"> {{element.description}}</mat-cell>
    </ng-container>
    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
       
        <button (click)="open(content)" mat-icon-button color="danger" matTooltip="Delete" type="button" (click)="deleteUser(user)">
         <mat-icon>delete</mat-icon> </button>
     </mat-cell>
   </ng-container>
   <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
   <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
 </mat-table>
</div>
</div>
<mat-paginator #paginator
[pageSize]="10"
[pageSizeOptions]="[5, 10, 20]"
[showFirstLastButtons]="true">
</mat-paginator>
</div>
</div>
<div class="kt-section">
  <div class="kt-section__content">
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-body">
        <button type="button" class="close close-modal" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
        <div  class="modal-inner text-center">
          <i class="flaticon2-close-cross fa-4x close-icon"></i>
          <h4>Are You Sure ?</h4>
          <p class="mb-0">Are you sure you want to delete this records? This process cannot be undone</p>
        </div>
      </div>
      <div class="modal-footer no-border pt-0 justify-content-center pb-4">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </ng-template>
  </div>
</div>