.headcustom {
    display: block;
    border-bottom: 1px solid #ebedf2;
    position: relative;
    padding-bottom: 7px;
    color: #000;
    font-size: 16px;
}.headcustom:after {
   content: '';
   background: #fd7f08;
   width: 50px;
   height: 3px;
   position: absolute;
   left: 0;
   bottom: -1px;
}